.infoContainer {
  position: relative;
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
  min-height: 100vh;
}

.clubsInfo {
  padding: 0 0.8em;
  margin-top: 2.8em;
}

.basicInfo {
  height: 153px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.infoAndShirts {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-top: .5em;
  padding-bottom: 1.6em;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.allPlayers {
  width: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4em;
}

.teamLabel {
  width: auto;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0 0.4em 0 0.8em;
}

.teamName {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
}

.infoProp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.teamInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.spacer {
  height: 190px;
  width: 100%;
}

.teamHeader {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px rgb(0, 16, 41);
  border-radius: 0.6em;
  border: 2px solid rgb(101, 147, 216);
  background-color: white;
  padding: 0.2em 0.4em;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  gap: 0.4em;
}


.teamSelection {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
padding: 0 .8em;
column-gap: 20px;

}

@media only screen and (max-width: 630px) {
  .teamSelection {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

@media only screen and (max-width: 420px) {
  .teamSelection {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

.selectie {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px rgb(0, 16, 41);
  border-radius: 0.6em;
  border: 2px solid rgb(255, 255, 255);
  padding: 0.6em 0 .7em 0.8em ;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
}

.playerInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
   justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: .5em;
}

.playersName {
  width: 100%;
   display: flex;
  align-items: center;
   justify-content: flex-start;
   height: 28px;
background: white;
   color: rgb(9, 45, 87);
   font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.4em 0 0.4em 0.4em;
  margin-bottom: .8em;
  box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.4);
}

.playerDobNatPos {
  padding-left: .4em;
  display: flex;
  flex-direction: column;
  gap: .8em; /* or any spacing you want */
}

.teamHeader img {
  width: 35px;
}

/* .teamLogoBox { */
   /* display: flex;
  align-items: center;
  justify-content: center; */
  /* width: 128px;
  height: 128px;
  border-radius: 50%; */
  /* padding-top: 5px; */
  /* background: #fff; */
  /* border: 2px solid rgb(101, 147, 216); */
/* } */

.teamLogo {
  width: auto;
  height: 150px;
  /* border-radius: 50%; */
  margin-right: .6em;
  /* border: 2px solid rgb(255, 255, 255); */
}

.shirtsWrapper {
  width: 100%;
  padding-right: .8em;
  
}

.coachShirts {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  
}

.shirtsUitEnThuis {
   display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.shirt {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  border: 2px solid rgb(101, 147, 216);
}

.clubCoach {
  width: 100%;
  margin: 1.8em 0;
}

.coach {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  
}

.coachImg {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.shirtThuis {
  margin-right: .8em;
  border-radius: 50%;
}

.uitthuis {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.shirtLabel {
  display: none;
   width: auto;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-left: .8em;
  margin:  0.8em 0 0.8em;
}

.stadions {
  width: 100%;
}

.stadionInfoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  padding: .8em;
  border-radius: 12px;
  margin-bottom: 2em;
}

.stadionImg {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  .coachShirts {
    display: none;
  }
}

/* @media only screen and (max-width: 750px) {
  .infoAndShirts {
    flex-direction: column;
    margin: .4em 0 1.4em 0;
  }
  .shirtsWrapper {
    padding: 0 .8em;
  }
  .shirtThuis {
    margin-right: .8em;
  }
  .shirtLabel {
    display: flex;
    margin-bottom: 1.4em;
  }
  .coachShirts {
    padding-top: 1.4em;
  }
} */

@media only screen and (max-width: 800px) {
  .spacer {
    height: 150px;
  }
}

/* @media only screen and (max-width: 340px) {
  .coachShirts {
    flex-direction: column;
  }
  .coach {
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 136px;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }
} */

@media only screen and (max-width: 400px) {
  .spacer {
    height: 120px;
  }
}

.scrollToTopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background: rgb(4, 41, 70);
  z-index: 1000;
  box-shadow: 0 4px 4px rgb(0,0,0, .8);
}