.infoContainer {
  position: relative;
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
  min-height: 100vh;
}

.clubsInfo {
  padding: 0 0.8em;
  margin-top: 2.8em;
}

.basicInfo {
  height: 153px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.infoAndShirts {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin: .4em 0 1.4em 0;
  /* border: 1px solid orange; */
}

.allPlayers {
  width: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4em;
}

.teamLabel {
  width: auto;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0 0.4em 0 0.8em;
}

.teamName {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
}

.infoProp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.teamInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.spacer {
  height: 190px;
  width: 100%;
}

.teamHeader {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px rgb(0, 16, 41);
  border-radius: 0.6em;
  border: 2px solid rgb(101, 147, 216);
  background-color: white;
  padding: 0.3em 0.3em;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  gap: 0.4em;
}


.teamSelection {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
padding: 0 .8em;
column-gap: 20px;

}

@media only screen and (max-width: 630px) {
  .teamSelection {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

@media only screen and (max-width: 420px) {
  .teamSelection {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

.selectie {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px rgb(0, 16, 41);
  border-radius: 0.6em;
  border: 2px solid rgb(101, 147, 216);
  padding: 0.7em 0.7em;
  margin-bottom: 0.8em;
  font-weight: bold;
  /* font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))); */
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  border: 1px solid white;
}

.playerInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
   justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}

.playersName {
  width: 100%;
   display: flex;
  align-items: center;
   justify-content: flex-start;
   height: 28px;
   background-color: white;
   color: rgb(9, 45, 87);
  font-weight: bold;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: .6em;
  box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.4)
}

.playerDobNatPos {
  padding-left: .4em;
  display: flex;
  flex-direction: column;
  gap: 6px; /* or any spacing you want */
}

.teamHeader img {
  width: 35px;
}

.shirtsWrapper {
  width: 100%;
  padding-right: .8em;

}

.shirtUitThuis {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  
}

.shirt {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.shirtThuis {
  margin-right: .8em;
}

.uitthuis {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.shirtLabel {
  display: none;
   width: auto;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-left: .8em;
  margin:  0.8em 0 0.8em;
}

@media only screen and (max-width: 630px) {
  .infoAndShirts {
    flex-direction: column;
    margin: .4em 0 1.4em 0;
  }
  .shirtsWrapper {
    padding: 0 .8em;
  }
  .shirtUitThuis {
    width: 100%;
    justify-content: space-between;
  }
  .shirtThuis {
    margin-right: 0em;
  }
  .shirtLabel {
    display: flex;
    margin-bottom: 1.4em;
  }
}

@media only screen and (max-width: 800px) {
  .spacer {
    height: 150px;
  }
}

@media only screen and (max-width: 400px) {
  .spacer {
    height: 120px;
  }
}

.scrollToTopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #6593d8;
  background-color: transparent;
  z-index: 1000;
}
