.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  max-width: 2000px;
    margin: 0 auto;
  height: 500px;
  /* border: 1px solid white; */
}

@media only screen and (max-width: 600px) {
  .footer {
    height: 300px;
  }
}

.erelogo {
  width: 170px;
  height: auto;
}

.ball {
   width: 100px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .ball {
    width: 80px;
  }
  .erelogo {
    width: 100px;
  }
}

