.footer {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 100px auto 0 auto;
  height: 500px;
  background-image: url("../images/derbystar2025.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.footerTitleWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  background-color: black;
  border-bottom: 1px solid rgb(49, 108, 184);
  padding-bottom: 1rem;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.75em;
  width: 0.75em;
  margin-top: 4px;
  margin-right: 10px;
}

.eredivisie {
  color: rgb(49, 108, 184);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (2000 - 320)));
  font-weight: bold;
}

.colofon {
  position: absolute;
  width: 100%;
  max-width: 2000px;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(49, 108, 184);
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  background-color: rgb(2, 16, 34);
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (2000 - 320)));
}

.footerMenu {
  position: absolute;
  width: 100%;
  max-width: 180px;
  right: 0;
  bottom: 0;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid rgb(49, 108, 184);
  /* z-index: 999; */
}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  height: 50%;
  /* border: 1px solid red; */
}

.link {
  color: rgb(49, 108, 184);
  font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
 cursor: pointer;
 font-weight: 500;
}

@media only screen and (max-width: 410px) {
  .eredivisie {
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (2000 - 320)));
  }
  .footerTitleWrapper {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    height: 300px;
  }
  .footerMenu {
    height: 300px;
    max-width: 120px;
  }
}

@media only screen and (max-width: 570px) {
  
  .footerMenu {
    background-color: black;
    max-width: 110px;
  }
  .links {
    justify-content: space-between;
    margin-top: 1rem;
    height: 140px;
  }
}

