.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  max-width: 2000px;
  margin: 200px auto 0;
  height: 500px;
  background: #000000;
background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(15, 38, 71, 1) 50%, rgba(0, 10, 26, 1) 97%, rgba(26, 0, 0, 1) 99%);

}

@media only screen and (max-width: 600px) {
  .footer {
    height: 300px;
  }
}

.erelogo {
  width: 170px;
  height: auto;
}

.ball {
   width: 100px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .ball {
    width: 80px;
  }
  .erelogo {
    width: 100px;
  }
}

