
.footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

@media only screen and (max-width: 600px) {
  .footer {
     height: 300px;
  }
}

.links {
    width: 33%;
    height: 171px;
    padding-left: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color:rgb(227, 238, 255);
    line-height: 1.4;
} 

.linkName {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-right: 10px;
}



@media only screen and (max-width: 400px) {
  .contact {
  display: flex;
  justify-content: space-between;
   font-size: 13px;
}
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 171px;
}

.erelog {
  width: 171px;
  height: auto;
}

.derbystar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    width: 33%;
    height:171px;
}

@media only screen and (max-width: 1000px) {
    .derbystar {
      display: none;
    }
}

@media only screen and (max-width: 550px) {
    .erelog {
      width: 120px;
    }
}

@media only screen and (max-width: 1000px) {
    .links {
      width: 66%;
    }
}

@media only screen and (max-width: 550px) {
  .links {
  font-size: 14px;
}
}

@media only screen and (max-width: 400px) {
  .links {
  padding-left: 0%;
}
}

@media only screen and (max-width: 550px) {
    li {
      width: 100%;
      font-size: 14px;
    }
}

@media only screen and (max-width: 360px) {
    li {
     font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .footer {
      flex-direction: column;
    }
}
