

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 4rem;
}

.link {
    width: 33.33%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

@media only screen and (max-width: 400px) {
  .links, .link {
     height: 3rem;
  }
}

.link:hover {
  color:rgb(230, 187, 0)
}

.active {
  background-color: rgb(72, 117, 184);
}
