.home {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  background: #00121f;
  background: linear-gradient(
    90deg,
    rgba(0, 18, 31, 1) 0%,
    rgba(36, 79, 143, 1) 50%,
    rgba(0, 18, 31, 1) 100%
  );
}

.spacer {
  height: 160px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .spacer {
    height: 130px;
  }
}

@media only screen and (max-width: 400px) {
  .spacer {
    height: 100px;
  }
}
.eredivisieLogo {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .eredivisieLogo {
    margin-top: 0rem;
  }
}

.borderMarker {
  width: 100%;
  display: block;
  max-width: 2000px;
  margin: 6% auto;
  line-height: 0;
  height: auto;
}

.ballInGoal {
  width: 100%;
  height: auto;
}

.ballInGoal_small {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 850px) {
  .ballInGoal {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  .ballInGoal_small {
    display: none;
  }
}

.borderMarker2 {
  width: 100%;
  max-width: 2000px;
  margin: 4% auto;
  height: auto;
}

.schaal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  height: auto;
}

.schaalPic {
  width: 100%;
  height: auto;
}

.schaalPic_small {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 850px) {
  .schaalPic_small {
    display: none;
  }
}

@media only screen and (max-width: 849px) {
  .schaalPic {
    display: none;
  }
}

.history {
  visibility: visible;
  width: 50%;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  position: absolute;
  color: white;
  line-height: 1.5;
  font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0px 0px 4px black, 0px 0px 4px black;
}

.history2 {
  display: none;
  padding: 20px;
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 4%;
  max-width: 1140px;
  color: white;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.historyText {
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 0 30px 0;
  /* font-size: 16px; */
}

.leeshiermeer {
  color: rgb(255, 208, 0);
  cursor: pointer;
  text-decoration: underline;
}

.stukje {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1%;
}

@media only screen and (max-width: 1150px) {
  .history {
    visibility: hidden;
  }
  .history2 {
    display: flex;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .history2 {
    font-size: 0.9rem;
  }
  .stukje {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .history2 {
    font-size: 0.9rem;
  }
  .stukje {
    font-size: 1.1rem;
  }
}

.ere65 {
  position: absolute;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eredivisie65 {
  width: 80%;
  height: auto;
}

@media only screen and (max-width: 1150px) {
  .eredivisie65 {
    width: 60%;
    height: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .ere65 {
    margin-right: 12%;
  }
}

@media only screen and (max-width: 850px) {
  .eredivisie65 {
    width: 50%;
    height: auto;
  }
}

@media only screen and (max-width: 850px) {
  .ere65 {
    margin-right: 4%;
  }
}

@media only screen and (max-width: 600px) {
  .eredivisie65 {
    width: 40%;
    height: auto;
    margin-left: 24%;
  }
}

@media only screen and (max-width: 450px) {
  .eredivisie65 {
    width: 40%;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  .ere65 {
    margin-right: 0;
  }
  .eredivisie65 {
    width: 30%;
    height: auto;
  }
}

.allmatches {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.stand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  /* margin-bottom: 2%; */
}

.dezeweek {
  margin: 4% auto;
}

.derbystar {
  width: 30%;
  height: auto;
  margin-right: 50px;
}

.ds {
  width: 100%;
  height: auto;
}

.topScores1 {
  max-width: 1155px;
  margin: 0 auto;
  height: auto;
  margin-bottom: 2%;
  padding: 0.8rem;
}

.top {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0.6rem 0 0.6rem 0;
  color: white;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
  box-shadow: 0px 2px 8px rgb(0, 22, 54);
  border-radius: 0.6rem;
  border: 2px solid rgb(196, 160, 0);
  margin-bottom: 1.4rem;
}

.topScorers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  font-weight: bold;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  background-color: white;
  box-shadow: 0px 2px 8px rgb(0 33 82);
  border-radius: 0.6rem;
  border: 2px solid rgb(101, 147, 216);
  margin-bottom: 1.2rem;
}

.scorerInfo {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.4em;
}

.topScorers {
  width: 100%;
  height: auto;
  margin: 2% 0 2% 0;
  display: flex;
  justify-content: space-between;
}

.top3 {
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 4px rgb(8, 77, 175);
  border-radius: 0.6rem;
}

.name {
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  font-weight: bold;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.goals {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  font-weight: bold;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  width: 80px;
  margin-right: 20px;
}

@media only screen and (max-width: 650px) {
  .top {
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgb(0 33 82);
    margin-bottom: 0.8rem;
  }
  .top3 {
    border-radius: 0.5rem;
  }
  .scorerInfo {

    justify-content: flex-start;
  }
  .topScorers {
    margin-bottom: 14px;
    justify-content: space-between;
  }
  .goals {
    width: 100px;
  }
  .scorers {
        margin-top: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .goals {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  .scorerInfo {
     gap: 5px;
  }
}

.notify {
  width: 1px;
}

.ads {
  width: 1px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 4, 15, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 4, 15, 0.5);
  background-color: rgb(87, 127, 187);
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0, 11, 34);
  box-shadow: inset 0 0 6px rgb(0, 11, 34);
  background-color: rgb(52, 96, 163);
}
