.container {
  width: 100%;
  margin-top: 2rem;
  color: rgb(179, 179, 179);
  font-size: 16px;
  margin-bottom: 1rem;
}

.title {
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin-bottom: 1rem;
}

.legenda {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 750px) {
  .legenda {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .legenda {
    font-size: 14px
  }
}

.legendaLeft {
  margin-right: 0.8rem;
}

@media only screen and (max-width: 750px) {
  .legendaRight {
    margin-top: 0.5em;
  }
}

.legendaLeft > div:not(:first-of-type),
.legendaRight > div:not(:first-of-type) {
  margin-top: 0.5em;
}

.legendaItem{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.rectangle {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.red { background-color: rgb(165, 0, 0); }
.black { background-color: rgb(0, 0, 0); }
.orange { background-color: rgb(201, 97, 0); }
.green { background-color: rgb(0, 158, 8); }
.blue { background-color: rgb(71, 181, 255); }
.purple { background-color: rgb(178, 62, 255); }
