.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

 .buttonNumbers {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
   width: 100%;
   /* padding-right: 5px; */
 }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.74rem;
  height: 1.74rem;
  margin-left: 5px;
  margin-bottom: 5px;
  border-style: none;
  outline: none;
  color: rgb(24, 86, 145);
  font-size: calc(14px + (14 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.active {
  background-color:  rgb(255, 196, 0);
  text-shadow: 0px 0px 10px rgb(65, 42, 0);
}

@media only screen and (max-width: 500px) {
  .buttonNumbers {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .buttonNumbers {
    width:100%;
  }
}

@media only screen and (max-width: 391px) {
  .buttonNumbers {
    width: 92%;
  }
}

@media only screen and (max-width: 347px) {
  .buttonNumbers {
    width: 100%;
  }
}