.container {
  max-width: 1155px;
  height: auto;
  margin: 0 auto;
  padding: 0.6rem;
  padding-bottom: 2rem;
}

.spacer {
  height: 180px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .spacer {
    height: 150px;
  }
}

@media only screen and (max-width: 400px) {
  .spacer {
    height: 120px;
  }
}

.container2 {
  max-width: 1155px;
  height: auto;
  margin: 2% auto;
  /* background-color: rgb(36, 79, 143); */
  padding: 0.6rem;
  margin-bottom: 3%;
}

.matches {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gamesnRound {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.6rem 0 0.6rem 0;
  color: white;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
  /* background-color:rgb(36, 79, 143); */
  box-shadow: 0px 2px 8px rgb(0, 22, 54);
  border-radius: 0.6rem;
  border: 2px solid rgb(196, 160, 0);
  margin-bottom: 1.2rem;
}

.alleWedstrijden,
.speelrondes {
  width: 50%;
}

.alleWedstrijden {
  padding-left: 1rem;
}

.speelrondes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
}

.circle {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  line-height: 2rem;
  margin-left: 1rem;
}

.dayNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(36, 79, 143);
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
}

.match {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  color: white;
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.match_upcoming {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  cursor: pointer;
  color: white;
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.teams {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  font-weight: bold;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.awayteam,
.hometeam {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 45%;
  height: auto;
  padding: 0.6em;
  background: white;
  box-shadow: 0px 2px 8px rgb(0, 16, 41);
  border-radius: 0.6rem;
  border: 2px solid rgb(101, 147, 216);
}

@media only screen and (max-width: 450px) {
  .hometeam,
  .awayteam {
    padding: 0.4rem;
  }
  .circle {
    margin-left: 0.6rem;
  }
}

.scores {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  color: white;
  margin-bottom: 0.5rem;
  padding: 0px 5px 0px 5px;
}

@media only screen and (max-width: 450px) {
  .scores {
    width: 15%;
  }
}

@media only screen and (max-width: 400px) {
  .scores {
    width: 15%;
  }
}

@media only screen and (max-width: 330px) {
  .scores {
    width: 10%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  overflow-y: auto;
  z-index: 999;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  padding: 0.8rem 1rem;
  margin: 0 2%;
  height: auto;
  background-color: white;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 1);
  border-radius: 8px;
  color: rgb(36, 79, 143);
}

.hometeam_modal,
.awayteam_modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: auto;
  background: white;
  /* box-shadow: 0px 2px 8px  rgb(0, 16, 41); */
  border-radius: 0.6rem;
  /* border: 2px solid rgb(101, 147, 216);  */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  font-weight: bold;
}

.modalTeams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: auto;
  background: white;
  /* box-shadow: 0px 2px 8px  rgb(0, 16, 41); */
  /* border: 2px solid rgb(101, 147, 216);  */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid rgb(17, 40, 105);
  padding-bottom: .6em;
}

.modalTeams img {
  width: 40px;
  height: auto;
}

.scores_modal {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  font-weight: bold;
}

.date {
  margin-top: 1rem;
  width: 100%;
  gap: 5px;
  display: flex;
  justify-content: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  font-weight: 500;
}

.plaats {
  margin-top: 1rem;
  width: 100%;
  gap: 5px;
  display: flex;
  justify-content: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 79, 143);
  font-weight: 500;
  margin-bottom: 1rem;
}

.teamName {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stadionImage {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .modalTeams {
    padding: 0.5em 0 0.5em 0;
    font-size: 18px;
  }
}

@media only screen and (max-width: 450px) {
  .modalTeams {
    padding: 0.3em 0 0.6em 0;
    font-size: 16px;
  }
  .modalTeams img {
    width: 30px;
    height: auto;
  }
  .modalContent {
    padding: 0.6em;
  }
  .date,
  .plaats {
    font-size: 14px;
  }
}
