.eredivisieLogo {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .eredivisieLogo {
     margin-top: 0rem;
  }
}

.logoStyle {
   width: 50%;
   height: auto;
}

.borderMarker {
    width: 100%;
    height: auto;
    margin-top: 5%
}

.ballInGoal {
    width: 100%;
    height: auto;
    display: block;
}

.allmatches {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%
}

.standings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 5%;
}

.dezeweek{
    margin: 5% auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
   width: 100%;
   height: 320px;
   background-image: linear-gradient(rgb(36, 79, 143),rgb(3, 15, 34));
}

.links {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
    color:rgb(227, 238, 255);
}  
