body {
    margin:0;
    padding:0;
    padding-top: 200px;
     background: #00121f;
background: linear-gradient(90deg,rgba(0, 18, 31, 1) 0%, rgba(36, 79, 143, 1) 50%, rgba(0, 18, 31, 1) 100%);
}

@media only screen and (max-width: 800px) {
  body {
     padding-top: 160px;
  }
}

@media only screen and (max-width: 400px) {
  body {
     padding-top: 120px;
  }
}